*{
    margin: 0; 
    padding: 0;
}

.intro{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    top: 30px;
    left: 680px;
    z-index: 2;
}

.background-img{
    background-image: url('image/code(2).jpg');
    height: 755px;
    padding: 0;
    margin: 0;
}

.color-overlay{
   background-color: red; 
   opacity: 0.3;
   z-index: 1;
   height: 755px;
   position: relative;
}

form{
    background-color: black;
    z-index: 3;
    margin: 0;
    padding: 0;
}